<div class="app-content">
    <div class="video-container">
        <img id="myVideo" [src]='backgroundImage' alt="fountain" />
        <!-- <video id="myVideo" src="../../../assets/video/backgroundvideoFountain.mp4" autoplay muted loop></video> -->
    </div>
    <h1>DhyamiTechnologies</h1>
    <section class="water-features">
        <h2>Water Fountains & Water Curtains</h2>
        <h4>We craft Pleaseant art, not Fountains!!</h4>
        <h4>For Us, Fountains are not pattern of waret but it is designing and living things....</h4>
    </section>
    <app-work-done />
    <app-recognization />
    <app-client-reviews />
</div>